
.MuiCardHeader-root {
  background: #E4EBF7;
}

.MuiAccordionSummary-root {
  background: none;
}

.formContent {
  padding: 25px;
}

.MetaErrInfo {
  display: block;
  padding-left: 20px;
}

.RoundHeaderDate {
  & .MuiInputBase-root, .MuiOutlinedInput-root {
    border-radius: 20px;
  }
  & .MuiButtonBase-root, .MuiIconButton-root {
    background-color: #003154;
    color: rgba(255, 255, 255, 0.8);
  }
  label {
    top: -6px;
  }
}
