
.MuiCardHeader-root {
  background: #E4EBF7;
  border: none;
  border-radius: 34px 34px 0 0;
}

.MuiAccordionSummary-root {
  background: none;
}
.formContent {
  padding: 25px;
}

.MetaErrInfo {
  display: block;
  padding-left: 20px;
}

