
.MuiCardHeader-root {
  background: #E4EBF7;
  border: none;
}

.MuiAccordionSummary-root {
  background: none;
  //margin: 25px;
}
.formContent {
  padding: 25px;
}

.MetaErrInfo {
  display: block;
  padding-left: 20px;
  font-size: medium;
}

