.noDrawer {
  border: 1px aqua solid;
  position: absolute;
  bottom: 10%;
  left: calc(100% - 314px);
}
.withDrawer {
  border: 1px aqua solid;
  position: absolute;
  bottom: 10%;
  left: calc(100% - 774px);
}
