.noDrawer {
  border: 1px aqua solid;
  position: absolute;
  bottom: 10%;
  left: calc(90% - 164px);
}
.withDrawer {
  border: 1px aqua solid;
  position: absolute;
  bottom: 10%;
  left: calc(90% - 624px);
}
