.MuiDataGrid-root {
  border: none;
}

.MuiDataGrid-row.Mui-odd {
  background-color: #F6F8FC;
}

.MuiDataGrid-row.Mui-even {
  background-color: #FFF;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  border: none;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaders {
  border: none;
  background: #E4EBF7;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold;
}

.MuiDataGrid-columnSeparator .MuiDataGrid-columnSeparator--sideRight {
  opacity: 0 !important;
  display: none !important;
}

.MuiDataGrid-root .MuiDataGrid-columnSeparator {
  visibility: hidden
}

.gridContent {
  margin: 25px;
}
