.MuiSlider-root {
  color: #20b2aa;
}

.MuiSlider-root:hover {
  color: #2e8b57;
}

.MuiSlider-root .MuiSlider-thumb {
  border-radius: 1px;
}

.MuiPaper-rounded {
  //border: 0;
  //border-radius: 26px;
}

.RoundedEl {
  border-radius: 20px;
  padding: 0;
  margin: 0;
  & .MuiButton-root, .MuiOutlinedInput-root, .MuiInputBase-root, .MuiInputBase-input{
    border: 0;
    border-radius: 20px;
    background: #FFF;
    padding: 5px 10px;
  }
  & .MuiInputLabel-formControl{
      top: -6px;
  }
  & .MuiFormControl-root > label {
      //top: -12px!important;
  }

  //border: 0;
  &.MuiButton-root {
    padding: 5px 15px;
    background: #003154;
    text-transform: none;
    color: #E4EBF7;
    height: 40px;
  }
  &.Mui-disabled {
    color: #4C6F87;
  }

}

.RoundDate {
  & .MuiInputBase-root, .MuiOutlinedInput-root {
    border-radius: 20px;
  }
  & .MuiInputBase-input, .MuiOutlinedInput-input {
    padding: 10px 14px;
  }
  & .MuiButtonBase-root, .MuiIconButton-root {
    background-color: #003154;
    color: rgba(255, 255, 255, 0.8);
  }
  label {
    top: -6px;
  }
}

//input:-webkit-autofill{
//  -webkit-text-fill-color: yellow !important;
//}
input:-webkit-autofill {
  -webkit-background-clip: text;
}
//.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
.MuiPopover-paper {
  max-height: 300px;
}
.verticalTxt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiBox-root {
  //padding: 0;
  background: #F6F8FC;
  margin-bottom: 35px;
}
.MuiCardActions-root>:not(:first-of-type) {
  margin-left: 0;
}
.MuiDrawer-paperAnchorLeft {
  border: none!important;
  background: #1A4565;
  color: #fff;
}

